<div.mouse-mask style=`--mouse-x:${state.x};--mouse-y:${state.y};`/>

class {
  onCreate() {
    this.state = { x: "center", y: "center" };
    this.boundMove = this.move.bind(this);
  }
  onMount() {
    window.addEventListener("mousemove", this.boundMove);
  }
  onDestroy() {
    window.removeEventListener("mousemove", this.boundMove);
  }
  move(e) {
    this.state.x = e.clientX + "px";
    this.state.y = e.clientY + "px";
  }
}

style {

}